@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    color: white;
}

.header-image {
    width: 100%;
    height: 90%;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.header-text h5, h2 {
    font-weight: 200;
}

.header-text span {
    font-weight: 900;
}

.header-text h1 {
    font-size: 5rem;
    width: 70%;
    line-height: 1;
    margin: 0;
}

.header-text p {
    font-weight: 200;
}

.header-text button {
    background-color: #25D367;
    border: none;
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.header-text button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.header-text button a {
    margin-left: .5rem;
    color: white;
    text-decoration: none;
}

.black {
    height: 96vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.658);
    position: absolute;
    top: 0;
}

section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

section .flex-container {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

section .flex-container img {
    width: 30%;
}

footer {
    text-align: center;
    color: rgba(0, 0, 0, 0.507);
}